body {
    overflow-x: hidden;
    font-family: sans-serif;
    overflow-y: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing-page {
    background-image: url('../images/landing-page.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    position: relative;
  }
  
  .landing-page::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  
  .landing-page-text {
    color: white;
    position: relative;
    z-index: 3;
    min-width: 650px;
  }
  
  .landing-page-title {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .landing-page-p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #f0f0f0;
  }
  
  .text-section-button {
    background-color: rgba(0, 128, 128, 0.6);
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
  }

  .text-section-button:hover {
    background-color: teal;
  }

  .carousel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  
  .carousel-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 70px;
    z-index: 1;
    width: 100%;   
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }

  .carousel-container::-webkit-scrollbar {
    display: none;            
  }
  
  .carousel-track {
    display: flex;
    flex-direction: row;
    gap: 20px;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
  }

  .carousel-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    z-index: 1;
    position: relative;
  }

.carousel-prev,
.carousel-next {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-img,
.next-img {
  height: 20px;
  width: 20px;
}
  
.discover-section {
  display: flex;
  background-color: white;
}